@media only screen and (max-width:576px){
    /* header container */
.header{
    padding: 20px 30px; 
}
.navbar{
    flex-direction: column;
}
.logo{
    align-items: center;
    gap: 15px;
    font-size: 1.3rem;
}
.logo img{
    height: 50px;
}

.nav-menu{
    margin-top: 15px;
    gap: 7px;
    font-size: .95rem;
}

/* banner section */
.banner{
    flex-direction: column-reverse;
    gap: 50px;
    width: 100%;
    align-items: center;
}
.banner-content{
    margin-top: -30px;
    text-align: center;
    width: 100%;
}
.banner-title{
    margin-top: 20px;
    font-size: 2.8rem;
}

.banner-img{
    margin-top:-30px;
    width: 100%;
}
.btn-group{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

/* service container */
.service-container{
    padding: 50px 30px;
    text-align: center; 
}
.service-top-part{
    flex-direction: column;
    align-items: center;
}
.service-content{
    width: 100%;
}

.service-part{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.card-container{
    margin: 70px 0px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr)
}


}





@media only screen and (min-width:576px) and (max-width:768px){
    /* header container */
.header{
    padding: 20px 30px; 
}

.logo img{
    height: 50px;
}

.nav-menu{
    gap: 15px;
}


/* banner section */
.banner-content{
    margin-top: 30px;
}
.banner-title{
    font-size: 2.5rem;
}



.banner-img img{
    margin-top: -50px;
}


/* service container */
.service-container{
    color: white;
    background-color: #060922;
    padding: 50px 50px;
    
}


.service-title{
    font-size: 2.2rem;
}

.card-container{
    margin: 70px 0px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr)
}
.card{
    border: 1px solid #09aff4;
    padding: 40px 30px;
    border-radius: 7px;
}
.icon{
    color: #09aff4;
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.card h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0px;
}
.card p{
    line-height: 1.5rem;
    color: #b8b8b8;
    margin-bottom: 20px;
}
.card a{
    text-decoration: none;
    color: #09aff4;
    font-weight: 500;
}
.card i{
    margin-left: 10px;
}
}